<!doctype html>
<html>

<head>
    <title>Contact Form</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
    <!-- BASIC STYLE: START -->
    <style>
        body {
            height: 100%;
            background-color: #363636;
            overflow: hidden;
        }
        body.preload * {
            visibility: hidden;
        }
        body.transparent-background.resizing * {
            visibility: hidden;
        }
        body.transparent-background {
            background: transparent;
        }
        body.transparent-background #loader {
            background: transparent;
        }
        #loader {
            background-color: #363636;
            position: absolute;
            position: fixed;
            z-index: 999999;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            visibility: visible;
        }
        #loader * {
            visibility: visible;
        }
        #loader>.wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
        }
        #loadingLogo span {
            display: block;
            position: absolute;
            width: 100px;
            top: 50px;
            left: -50px;
            text-align: center;
            font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-size: 11px;
            color: #FFFFFF;
            -khtml-opacity: 0.6;
            -moz-opacity: 0.6;
            opacity: 0.6;
        }
        #loadingLogo svg {
            position: absolute;
            top: 64px;
            left: -35px;
        }
        #loadingLogo svg path,
        #loadingLogo svg rect {
            fill: #FFFFFF;
        }
        @font-face {
            font-family: 'typeIconFont';
            src: url('files/glyphs.eot');
            src: url('files/glyphs.eot?#iefix') format('embedded-opentype'), url('files/glyphs.woff') format('woff'), url('files/glyphs.ttf') format('truetype'), url('files/glyphs.svg#typeform_glyphs') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <!-- BASIC STYLE: END -->
	
	<!-- SCRIPT INIT: START -->
	<script type="text/javascript">
		var settings = {
			browser: "default",
			uid: "",
			language: "en",
			paths: {
				submit: "",
				token: ""
			},
			uniquePath: "",
			uploadPath: "",
			signupPath: "",
			lessPath: "",
			parent: "",
			hiddenFieldsEnabled: false,
			hiddenFields: [],
			font: 'Raleway:300,600',
			showLogo: '',
			createdAt: '',
			accountId: '',
			userId: '',
			accountPlan: '',
			stripePublishableKey: '',
			showLoadingBranding: true,
			colors: {
				primary: '#FFFFFF',
				secondary: '#FFFFFF'
			},
			baseAssetPath: '',
			collect: true,
			"featureToggles": {
				"retrySubmitEnabled": true,
				"isSignupQuestionsFormEnabled": false
			},
			redirectAfterSubmitEnabled: false,
			redirectAfterSubmitUrl: '',
			embedCloseAfterSubmitEnabled: true,
			formId: '',
			lastEditorUserId: '',
			appBehaviourKey: ''
		}
	</script>
	<!-- SCRIPT INIT: END -->
	
    <!-- TEMPLATE ELEMENTS: START -->
	<script type="text/template" id="component-opinion-scale">
        <div class="component-choices"></div>
        <ul class="labels layout-thee-columns layout-columns color-secondary text-subpixel-antialiased">
            <li class="first text-size-m text-align-left negativeLabel"></li>
            <li class="second text-size-m text-align-center neutralLabel"></li>
            <li class="third text-size-m text-align-right positiveLabel"></li>
        </ul>
    </script>
    <script type="text/template" id="component-choice-simple">
        <input <%=checked%> type="radio" value="
        <%=value%>"/>
            <br/> <span><%=label%></span> </script>
    <script type="text/template" id="component-choice-square">
        <div class="choice-wrapper">
            <div class="label">
                <%=label%>
            </div>
            <div class="line"></div>
            <div class="aux">
                <div class="bg"></div>
                <div class="bd"></div>
            </div>
            <div class="background"></div>
        </div>
    </script>
    <script type="text/template" id="icon-cloud">
        <svg class="icon-cloud" width="132px" height="85px" viewBox="0 0 132 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Artboard-3" sketch:type="MSArtboardGroup" fill="#000000">
                    <path d="M79,85 L108,85 L108,84.9566146 C121.385069,84.1801879 132,73.0797189 132,59.5 C132,46.906961 122.871557,36.445984 110.870729,34.373127 C110.956288,33.426871 111,32.4685402 111,31.5 C111,14.1030304 96.8969696,0 79.5,0 C65.9387999,0 54.3791415,8.56961829 49.9409394,20.5889401 L49.9409394,20.5889401 C47.0317445,16.5954404 42.3189711,14 37,14 C28.163444,14 21,21.163444 21,30 C21,31.4892152 21.2034561,32.9309107 21.5840885,34.2988067 C9.35984257,36.1828033 0,46.7483475 0,59.5 C0,73.4162144 11.1475089,84.7287886 25,85 L59,85 L59,66 L43,66 L69,32 L95,66 L79,66 L79,85 Z" id="Oval-6" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </svg>
    </script>
    <script type="text/template" id="icon-file">
        <svg class="icon-file" version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="85px" viewBox="0 0 65 85" enable-background="new 0 0 65 85" xml:space="preserve">
            <g id="Page-1" sketch:type="MSPage">
                <g id="Artboard-1" transform="translate(97.000000, 0.000000)" sketch:type="MSArtboardGroup">
                    <g id="Rectangle-4-_x2B_-Line-_x2B_-Line" transform="translate(3.000000, 1.000000)" sketch:type="MSLayerGroup">
                        <path id="Rectangle-4" sketch:type="MSShapeGroup" fill="none" stroke="#000000" stroke-width="3" d="M-55.333,1
						c0.457,0-42,0-42,0v79h61V18C-36.333,18-54.876,1-55.333,1z" />
                        <path id="Line" sketch:type="MSShapeGroup" fill="none" stroke="#000000" stroke-width="2.837" stroke-linecap="square" d="
						M-55.833,1.579V18.5" />
                        <path id="Line_1_" sketch:type="MSShapeGroup" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="square" d="
						M-55.333,18.5h19" /> </g>
                </g>
            </g>
        </svg>
    </script>
    <script type="text/template" id="component-file-upload-box">
        <div class="box">
            <div class="box-cancel">
                <svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="14px" height="14px">
                    <g>
                        <path id="Line" d="M 11.5 1.5 L 1.5 11.5 " stroke="#000000" stroke-width="2" fill="none" />
                        <path id="Line2" d="M 1.5 1.5 L 11.5 11.5 " stroke="#000000" stroke-width="2" fill="none" /> </g>
                </svg>
                <div class="cancel-background"></div>
            </div> <span class="tick"></span>
            <input type="file" name="file" />
            <div class="box-content-wrapper">
                <div class="box-content">
                    <div class="box-image"></div>
                    <div class="box-text"></div>
                </div>
            </div>
            <div class="aux">
                <div class="bg"></div>
                <div class="bd"></div>
            </div>
            <div class="background"></div>
        </div>
    </script>
    <script type="text/template" id="component-file-upload-box-simple">
        <input type="file" name="file" />
        <p class="box-text"></p>
        <div class="progress-bar-target"></div>
    </script>
    <script type="text/template" id="component-file-upload-progress-bar">
        <div class="progress-bar">
            <div class="bar"></div>
        </div>
    </script>
    <script type="text/template" id="component-file-upload-text-start">
        <p>
            <%=t extChoose %>
        </p>
        <p>
            <%=t extSizeLimit %>:
                <%=m axFileSize %> MB </p>
    </script>
    <script type="text/template" id="component-file-upload-text-uploading">
        <p> <b><%= textUploading %></b> </p>
        <p>
            <%=f ileName %>
        </p>
    </script>
    <script type="text/template" id="component-file-upload-text-preview">
        <p> <b><%= fileName %></b> </p>
    </script>
    <script type="text/template" id="component-confirm-button">
        <div class="button-wrapper confirm"> </div>
        <div class="text"></div>
    </script>
    <!-- TEMPLATE ELEMENTS: END -->
	
    <!-- FORM FIELDS: START -->
    <script type="text/javascript">
        var serializedForm = {
            "id": 6404524,
            "fields": [{
                "id": "ZpAzXPud38kY",
                "question": "Hi there! What's your first name?",
                "label": "Hi there! What's your first name?",
                "type": "textfield",
                "required": true,
                "attachment_type": "",
                "position": 0,
                "calculations": []
            }, {
                "id": "ZXxNTPxxQlci",
                "question": "What's the best email address for you, {{answer_ZpAzXPud38kY}}?",
                "label": "What's the best email address for you, {{answer_ZpAzXPud38kY}}?",
                "type": "email",
                "required": true,
                "attachment_type": "",
                "position": 1,
                "calculations": []
            }, {
                "id": "Rc4TMu4rMjmF",
                "question": "What's your message about?",
                "label": "What's your message about?",
                "type": "list",
                "required": true,
                "attachment_type": "",
                "position": 2,
                "calculations": [],
                "other": true,
                "choices": {
                    "Qe0rMdmh6baC": {
                        "id": "Qe0rMdmh6baC",
                        "label": "I'd like to work with you",
                        "position": 0
                    },
                    "qNtvcyb1cEtv": {
                        "id": "qNtvcyb1cEtv",
                        "label": "I have some feedback",
                        "position": 1
                    },
                    "kXqYrypYh4ik": {
                        "id": "kXqYrypYh4ik",
                        "label": "I'm looking for some advice",
                        "position": 2
                    },
                    "uZxMyS5f0tqE": {
                        "id": "uZxMyS5f0tqE",
                        "label": "I'd just like to chat",
                        "position": 3
                    }
                }
            }, {
                "id": "jUECC2Exkvy7",
                "question": "What's your message {{answer_ZpAzXPud38kY}}?",
                "label": "What's your message {{answer_ZpAzXPud38kY}}?",
                "type": "textarea",
                "required": true,
                "attachment_type": "",
                "position": 3,
                "calculations": []
            }],
            "outros": [],
            "intros": [{
                "id": 4835044,
                "uid": "4825248",
                "attachment_type": "",
                "body": "I love talking to new people!<br>It's a chance to make new friends!",
                "body_enabled": true,
                "button": "let's begin!",
                "button_enabled": true,
                "description": "If you're interested in me and what I do, get in touch.",
                "description_enabled": true,
                "enabled": true
            }],
            "uid": "SkJmWG",
            "name": "Contact Form (copy)",
            "design": {
                "id": 8233357
            }
        };
    </script>
    <!-- FORM FIELDS: END -->
	
    <link rel="stylesheet" type="text/css" href="files/stylesv2.css">
    <link id="font" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:300,600">
</head>

<body>
    <canvas id="freezeframe-canvas" style="display: none;"></canvas>
    <div id="typeform">
        <div id="loader" style="display: none;">
            <div class="wrapper">
                <div id="spin">
                    <div class="spinner" role="progressbar" style="position: absolute; width: 0px; z-index: 2000000000; left: 50%; top: 50%;">
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-0-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(0deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-1-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(22deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-2-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(45deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-3-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(67deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-4-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(90deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-5-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(112deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-6-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(135deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-7-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(157deg) translate(14px, 0px); border-radius: 1px;"></div>

                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-8-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(180deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-9-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(202deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-10-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(225deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-11-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(247deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-12-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(270deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-13-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(292deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-14-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(315deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                        <div style="position: absolute; top: -1px; opacity: 0.25; animation: opacity-60-25-15-16 0.47619s linear infinite;">
                            <div style="position: absolute; width: 6px; height: 3px; background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px; transform-origin: left center 0px; transform: rotate(337deg) translate(14px, 0px); border-radius: 1px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<div id="4835044" class="intro screen" data-field="true">
			<div class="content-wrapper">
				<div class="content" style="padding-top: 358px;">
					<div class="media"></div>
					<div class="text" style="padding-top: 0px; margin-left: 0px;">
						I love talking to new people!<br>It's a chance to make new friends!
					</div>
					<div class="description">
						If you're interested in me and what I do, get in touch.
					</div>
					<div class="button-wrapper" style="margin-top: 30px;">
						<div class="button general full enabled hover-effect" style="">let's begin!</div>
						<div class="button-text">press <strong>ENTER</strong></div>
					</div>
				</div>
			</div>
			<div class="footer step3" style="display: none;">
				<div class="content">
					<div class="button-wrapper">
						<a class="button general full enabled hover-effect js-intro-button" target="_parent" style="">let's begin!</a>
						<div class="button-text">press <strong>ENTER</strong></div>
					</div>
				</div>
				<div class="scroll-smooth"></div>
			</div>
		</div>
				
		
		<div class="form" style="display: none;">			
			<ul class="questions" style="margin-top: 469px; margin-bottom: 549px;">
				
				
				<li class="row field textfield active required visible" id="ZpAzXPud38kY" data-model='{"id":"ZpAzXPud38kY","type":"textfield","name":"","required":"true"}'>
					<div class="wrapper" style="height: 143px;">
						<div class="item"><span></span></div>
						<div class="question">
							Hi there! What's your first name?<span class="asterisk"></span>
						</div>
						<div class="content">
							<div class="description">
								Mine's Oliver! Let's not be strangers!
							</div>
							<div class="content-wrapper">
								<div class="attachment-wrapper">
									<div class="control">
										<div class="input">
											<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" type="text" autocomplete="off" name="entry.848982403" formmethod="post">
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
								<div class="message"><span></span>
									<div></div>
								</div>
								<div class="confirm container step3">
									<div class="button-wrapper confirm">
										<div class="button nav enabled"><span>OK</span><span class="confirm"></span> </div>
									</div>
									<div class="text">press <strong>ENTER</strong></div>
								</div>
							</div>
						</div>
					</div>
				</li>
				
				
				<li class="row field email active required" id="ZXxNTPxxQlci" data-model='{"id":"ZXxNTPxxQlci","type":"email","name":"","required":true}'>
					<div class="wrapper" style="height: 143px;">
						<div class="item"><span></span></div>
						<div class="question">
							<span>
								What's the best email address for you, {{answer_ZpAzXPud38kY}}?<span class="asterisk"></span>
							</span>
						</div>
						<div class="content">
							<div class="description">
								I'll use this to get back to you. No spam or unexpected newsletters here.
							</div>
							<div class="content-wrapper">
								<div class="attachment-wrapper">
									<div class="control">
										<div class="input">
											<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" type="text" autocomplete="off" name="entry.401608907" formmethod="post"></div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
								<div class="message"><span></span>
									<div></div>
								</div>
								<div class="confirm container step3">
									<div class="button-wrapper confirm">
										<div class="button nav enabled"><span>OK</span><span class="confirm"></span></div>
									</div>
									<div class="text">press <strong>ENTER</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				
				
				<li class="list required visible" id="Rc4TMu4rMjmF" data-model='{"id":"Rc4TMu4rMjmF","type":"list","name":"","required":true,"showPadlockIcon":false}'>
					<div class="wrapper" style="height: 319px;">
						<div class="item"><span></span></div>
						<div class="question">
							<span>
								What's your message about?<span class="asterisk"></span>
							</span>
						</div>
						<div class="content">
							<div class="description">
								Think of this as like the subject field in an email.
							</div>
							<div class="content-wrapper">
								<div class="attachment-wrapper">
									<div class="control">
										<ul class="columns">
											<li id="Qe0rMdmh6baC" class="container step3" style="width: 273px;">
												<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" type="hidden" value="I'd like to work with you" autocomplete="off" name="entry.901759877" formmethod="post">
												<div class="letter"><span>A</span>
												</div><span class="label">I'd like to work with you</span><span class="tick"></span>
												<div class="aux ">
													<div class="bg"></div>
													<div class="bd"></div>
												</div>
											</li>
											<li id="qNtvcyb1cEtv" class="container step3" style="width: 273px;">
												<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" type="hidden" value="I have some feedback" autocomplete="off" name="entry.901759877" formmethod="post">
												<div class="letter"><span>B</span>
												</div><span class="label">I have some feedback</span><span class="tick"></span>
												<div class="aux ">
													<div class="bg"></div>
													<div class="bd"></div>
												</div>
											</li>
											<li id="kXqYrypYh4ik" class="container step3" style="width: 273px;">
												<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" type="hidden" value="I'&#39;'m looking for some advice" autocomplete="off" name="entry.901759877" formmethod="post">
												<div class="letter"><span>C</span>
												</div><span class="label">I'm looking for some advice</span><span class="tick"></span>
												<div class="aux ">
													<div class="bg"></div>
													<div class="bd"></div>
												</div>
											</li>
											<li id="uZxMyS5f0tqE" class="container step3" style="width: 273px;">
												<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" type="hidden" value="I'd just like to chat" autocomplete="off" name="entry.901759877" formmethod="post">
												<div class="letter"><span>D</span>
												</div><span class="label">I'd just like to chat</span><span class="tick"></span>
												<div class="aux ">
													<div class="bg"></div>
													<div class="bd"></div>
												</div>
											</li>
											<li class="custom container step3" style="width: 273px;">
												<div class="letter"><span>E</span>
												</div><span class="label ellipsis"><span class="val">Other</span></span>
												<input formaction="https://docs.google.com/forms/d/e/1FAIpQLSc0wjZAT6oH6BwgnU5flKiZT8-KDY1ZmGdttg4qGaKdNpsBPg/formResponse" class="other-field" type="text" autocomplete="off" name="entry.901759877" formmethod="post">
												<div class="button-wrapper ok-confirm">
													<div class="button nav tick tick--button enabled"><span></span></div>
												</div> <span class="tick"></span>
												<div class="aux ">
													<div class="bg"></div>
													<div class="bd"></div>
												</div>
												<div class="clear"></div>
											</li>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
								<div class="message "><span></span>
									<div></div>
								</div>
								<div class="confirm container step3">
									<div class="button-wrapper confirm">
										<div class="button nav enabled"><span>OK</span><span class="confirm"></span></div>
									</div>
									<div class="text">press <strong>ENTER</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				
				
				<li class="textarea required" id="jUECC2Exkvy7" data-model='{"id":"jUECC2Exkvy7","type":"textarea","name":"","required":true,"showPadlockIcon":false}'>
					<div class="wrapper" style="height: 125px;">
						<div class="item"><span></span></div>
						<div class="question">
							<span>
								What's your message {{answer_ZpAzXPud38kY}}?<span class="asterisk"></span>
							</span>
						</div>
						<div class="content">
							<div class="content-wrapper">
								<div class="attachment-wrapper">
									<div class="control">
										<div class="textarea-wrapper">
											<textarea class="" maxlength="" autocomplete="off" style="overflow: hidden; word-wrap: break-word; resize: none; height: 41px;"></textarea><span class="txtarea-tip"><strong>SHIFT</strong> + <strong>ENTER</strong> to make a line break</span></div>
									</div>
								</div>
								<div class="clear"></div>
								<div class="message"><span></span>
									<div></div>
								</div>
								<div class="confirm container step3">
									<div class="button-wrapper confirm">
										<div class="button nav enabled"><span>OK</span><span class="confirm"></span></div>
									</div>
									<div class="text">press <strong>ENTER</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<div class="footer-confirm step3">
				<div class="persistent background"></div>
				<div class="wrapper">
					<div class="content">
						<div class="button-wrapper confirm">
							<div class="button nav enabled hover-effect"><span>OK</span><span class="confirm"></span></div>
						</div>
						<div class="text"><span class="default">press <strong>ENTER</strong></span><span class="textarea">press <strong>ENTER</strong></span> <span class="multiple">press <strong>ENTER</strong></span></div>
					</div>
				</div>
			</div>
			<div id="fixed-footer" class="lightness-step step3">
				<div class="overlay"></div>
				<div class="persistent background"></div>
				<div class="nav-buttons">
					<div class="button-wrapper up">
						<div class="button nav enabled hover-effect"><span></span><span class="up"></span></div>
					</div>
					<div class="button-wrapper down">
						<div class="button nav enabled hover-effect"><span></span><span class="down"></span></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="content">
					<div id="progress">
						<div class="label"><span></span>
						</div>
						<div class="bar">
							<div class="wrapper"></div>
							<div class="progress"></div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div id="unfixed-footer" class="lightness-step step3" style="height: 0px;">
				<div class="footer-message">
					<div class="background"></div>
					<div class="content"><span class="default-message"></span>
					</div>
				</div>
				<div class="persistent background lightness-step step3"></div>
				<div class="content">
					<div class="button-wrapper submit">
						<div class="button-text">press <strong>ENTER</strong>
						</div>
					</div>
				</div>
			</div>
			
			
			<div id="1992946" class="outro screen" data-field="false" style="display: none;">
				<div class="content-wrapper">
					<div class="content" style="padding-bottom: 416.5px; padding-top: 418.5px;">
						<div class="media"> </div>
						<div class="text" style="padding-top: 0px; margin-left: 0px;"> Thanks for your enquiry&nbsp;!
							<br>I'll get back as soon as I can! </div>
						<div class="social show ">
							<a href="" target="_blank"><img class="icon-facebook" src="files/facebook_colour.png" width="32" height="32" alt="facebook"></a>
							<a href="" target="_blank"><img class="icon-twitter" src="files/twitter_colour.png" width="32" height="32" alt="twitter"></a>
							<a href="" target="_blank"><img class="icon-linkedin" src="files/linkedin_colour.png" width="32" height="32" alt="linkedin"></a>
							<a href="" target="_blank"><img class="icon-googleplus" src="files/gplus_colour.png" width="32" height="32" alt="gplus"></a>
							<a href="" target="_blank"><img class="icon-buffer" src="files/buffer_colour.png" width="32" height="32" alt="buffer"></a>
						</div>
					</div>
				</div>
				<div class="footer step3">
					<div class="persistent-wrapper">
						<div class="persistent background"></div>
						<div class="persistent"></div>
					</div>
					<div class="overlay"></div>
					<div class="content">
					</div>
					<div class="scroll-smooth"></div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- ERROR TEXT: START -->
	<ul id="texts" style="display:none;">
		<li id="keyboard">keyboard</li>
		<li id="key">Key</li>
		<li id="tab-button">OK</li>
		<li id="continue-button">Continue</li>
		<li id="button-tip-default">press <strong>ENTER</strong></li>
		<li id="button-tip-multiple">button-tip-multiple</li>
		<li id="button-tip-textarea">press <strong>ENTER</strong></li>
		<li id="review-button">Review</li>
		<li id="next-validation">Next validation</li>
		<li id="submit-button">Submit</li>
		<li id="phishing-notice">Never submit passwords!</li>
		<li id="report-phishing">Report abuse</li>
		<li id="report-phishing-link">https://www.typeform.com/help/report-abuse/</li>
		<li id="multiple">Choose as many as you like</li>
		<li id="other">Other</li>
		<li id="resizing">resizing</li>
		<li id="end">end</li>
		<li id="incomplete">Some mandatory fields are blank</li>
		<li id="default-text">Answer goes here...</li>
		<li id="share">Check this out!</li>
		<li id="y">Y</li>
		<li id="yes">Yes</li>
		<li id="n">N</li>
		<li id="no">No</li>
		<li id="success">Done! Your information was sent perfectly.</li>
		<li id="image-placeholder-1">Upload your logo or an image / video</li>
		<li id="image-placeholder-2">We’ll take care of the rest!</li>
		<li id="placeholder-description">Description text goes here...</li>
		<li id="progress-proportion">{{step}} of {{total}} answered</li>
		<li id="progress-percent">{{percent}}% completed</li>
		<li id="legalyes">I accept</li>
		<li id="legalno">I don’t accept</li>
		<li id="type-select">Type or select an option</li>
		<li id="type-select-touch">Select an option</li>
		<li id="not-found">No suggestions found</li>
		<li id="credit_card_cvc_error">credit_card_cvc_error</li>
		<li id="file-upload-choose"><b>Choose file</b></li>
		<li id="file-upload-drag">or <b>drag here</b></li>
		<li id="file-upload-uploading">Uploading...</li>
		<li id="file-upload-sizeLimit">Your file is too big</li>
		<li id="file-upload-maxSize">Size limit</li>
		<li id="file-upload-processing">Your file is still uploading, please wait...</li>
		<li id="file-upload-upload-error">An error occurred while uploading the file</li>
		<li id="file-upload-must-upload"><strong>Ooops!</strong> You must upload a file</li>
		<li id="textarea-newline-tip"><strong>SHIFT</strong> + <strong>ENTER</strong> to make a line break</li>
		<li id="ranking-field-tip">Drag and drop the choices...</li>
		<li id="shortcut">shortcut</li>
		<li id="legalquestion">legalquestion</li>
		<li id="yesnoanswer">yesnoanswer</li>
		<li id="proportional">proportional</li>
		<li id="correct">Please, correct the errors listed below</li>
		<li id="required">Please fill this in</li>
		<li id="duplicated"><strong>Mmm...</strong> Seems this value has already been entered by someone else</li>
		<li id="invalid"><strong>Be careful!</strong> This value is not valid!</li>
		<li id="invalid-date">Mmm… That date does not look valid</li>
		<li id="must-select"><strong>Ooops!</strong> You must make a selection</li>
		<li id="must-enter"><strong>Ooops!</strong> You need to enter a value</li>
		<li id="maxlength">Type no more than {{MAXLENGTH}} characters</li>
		<li id="terms">You must agree to the Terms &amp; Conditions</li>
		<li id="email">Mmm… That email does not look valid</li>
		<li id="website">Mmm… That web address does not exist</li>
		<li id="minmax">You must enter a number between {{MIN}} and {{MAX}}</li>
		<li id="min">You must enter a number greater than {{MIN}}</li>
		<li id="max">You must enter a number lower than {{MAX}}</li>
		<li id="review">{{NUM}} answer(s) need completing</li>
		<li id="connection">Oh no, you can’t seem to connect with the server right now…</li>
		<li id="server">Server error! Your request could not be processed.</li>
		<li id="slow-submission-on-submit">It's taking slightly longer than usual to submit your response. Please leave the page open and we'll continue trying.</li>
		<li id="retrying-in-time-submission">Retrying in {{NEXT_TRY}}s</li>
		<li id="retrying-submission">Retrying...</li>
		<li id="retry-now">retry-now</li>
		<li id="form-down">The typeform {{NAME}}, is currently unavailable. Please try again in a few moments.</li>
		<li id="form-empty">There is no content yet!</li>
		<li id="fallback-alert">You are viewing this form in "Simple" mode.<br>This is because your device is not yet supported.</li>
		<li id="warning-close-when-submitting">We are still submitting your response. Navigating away from the page may cause your response to be lost.</li>
		<li id="generic-error">Oops, something went wrong!</li>
		<li id="and"> &amp; </li>
		<li id="pay">pay {{amount}}</li>
	</ul>
	<!-- ERROR TEXT: END -->
	
	
	<script type="text/javascript" src="files/spin.js"></script>
	<script type="text/javascript">
		var opts = {
			lines: 16, // The number of lines to draw
			length: 3, // The length of each line
			width: 3, // The line thickness
			radius: 14, // The radius of the inner circle
			color: '#FFFFFF', // #rgb or #rrggbb
			speed: 2.1, // Rounds per second
			trail: 60, // Afterglow percentage
			shadow: false, // Whether to render a shadow
			hwaccel: true // Whether to use hardware acceleration
		};
		var target = document.getElementById('spin');
		var spinner = new Spinner(opts).spin(target);
	</script>
	<script type="text/javascript" src="files/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="files/events.js"></script>
	<script type="text/javascript">
		var jumps = [];
		freezeframe_options = {
			animation_icon_image: false,
			loading_background_image: false,
			loading_background_color: "transparent",
			loading_background_position: "top left",
			trigger_event: "focus",
			loading_fade_in_speed: 1,
			auto_run: false
		}
	</script>
	<script type="text/javascript" src="files/default.js"></script>
</body>

</html>